<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-destroy-method="destruir" default-init-method="iniciar">

   <bean id="holaMundo" class="edu.pe.cibertec.beans.HolaMundo" scope="prototype">
       <property name="nombre" value="Alumnos backend desde XML configuración"/>
   </bean>

    <bean id="documentoExcel" class="edu.pe.cibertec.beans.DocumentoExcel" lazy-init="true">
    </bean>

    <bean id="documentoTexto" class="edu.pe.cibertec.beans.DocumentoTexto" lazy-init="true">
    </bean>

    <bean id="impresoraService" class="edu.pe.cibertec.service.ImpresoraService">
        <property name="documento" ref="documentoTexto"/>
    </bean>

    <bean id="impresoraService2" class="edu.pe.cibertec.service.ImpresoraService">
        <constructor-arg  ref="documentoTexto"/>
    </bean>

</beans>